.eventCard {
    display: flex;
    flex-direction: row;
    height: 210px;
    border-radius: 7px;
    background-color:var(--primary_color);
    
    font-weight: bold;
    overflow: hidden;
    border: 1px solid var(--gray_color);
    box-shadow: 0 0 3px 3px var(--gray_color);
}

.eventCard:hover {
    /* background-color:lightgray; */
    position: relative;
    /* left: 1px; */
    /* bottom: 1px; */
    scale: 1.005;
    transition: box-shadow 0.1s;
    box-shadow: 0 0 5px 5px var(--secondery_color);
}


.eventCard .header {
    display: flex;
    justify-content: space-between;
    padding-block: 10px;
    padding-left: 0;
    border-bottom: 1px solid var(--gray_color);
}

.eventCard .title {
    flex: 1;
    font-size: large;
    color: var(--gray_color)
}

.eventCard .coverPhoto {
    flex: 1;
    background-color: black;
    text-align: center;
    border-right: 1px solid var(--gray_color);
}

.eventCard .coverPhoto img{
    object-fit:cover;
    width: 100%;
    height: 100%;
}

.eventCard .content {
    flex: 3;
    padding: 5px 10px;
}

.eventCard label {
    color: var(--secondery_color);
}

.eventCard span {
    color: var(--gray_color);
}

.eventCard .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
}

/* .eventCard .separator {
    border-right: 1px solid var(--gray_color);
} */