.milestoneDetailsBody {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    padding-inline: 20px;
    padding-block: 20px;
    background-color: var(--primary_color);
    height: fit-content;
}

.milestoneDetailsBody .galleryCard {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* margin-block: 10px; */
}

.milestoneDetailsBody button {
    display: block;
    margin: 10px auto;
    /* margin-block: 10px; */
}

.milestoneDetailsBody div {
    flex: 1;
}

.milestoneDetailsBody input
{
    width: 100%;
}

.milestoneDetailsBody textarea
{
    width: 100%;
    height:200px;
}
/* #milestoneDetailsBody label {
    font-weight: bold;
}

#milestoneDetailsBody td {
    padding-block: 5px;
} */

.milestoneDetailsBody .image-gallery-slide {
    height: 260px;
    background-color: black;
    /* max-height: 300px; */
    /* max-width: 100%; */
}

.milestoneDetailsBody .info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.milestoneDetailsBody #type {
    display: flex;
    flex-direction: row;
    margin-block: 5PX;
}

.milestoneDetailsBody #type input {
    /* margin: 0; */
    position: relative;
    top: 2px;
    width: fit-content;
    margin-right: 5px;
}

/* .milestoneDetailsBody #type div {
    display: flex;
    flex-direction: row;
} */