* {
    --primary_color: rgb(0, 255, 0);
    --secondery_color: rgb(0, 216, 0);
    --secondery_font_color: white;
    --third_color: rgb(230, 245, 255);

    --padding_1: 18px;

    font-size: 16px;
}
